/* 
.main_carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    height: auto; 
    background-color: #fff;
  }
  
    .carousel__content{
      width: 90%;
    }
    
   */